<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login-style.css"/>

    <title>API Rest</title>
</head>
<body>
    <main>
        <div class="register-container">
            <h2>Restablecer Contraseña</h2>
            <p>Enviaremos un link para que puedas restablecer tu contraseña</p>
            <form action="/api/password/forgot" method="POST">
                <label for="email">Email:</label>
                <input id="email" name="email" type="email" required>

                <button type="submit">Enviar</button>
            </form>
        </div>
    </main>
</body>
</html>