<div class="mainContainer">
    <p>Bienvenido/a {{first_name}} {{last_name}} a esta API Rest.</p> <br>
    <p>Podrás observar la lista de productos almacenados en la base de datos de forma estática o dinámica con websocket.</p> <br>
    <p>Además, se mostrarán los carritos creados y los productos asociados a cada uno, con la posibilidad de eliminar o agregar nuevos productos.</p>
</div>