<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/login-style.css"/>

    <title>API Rest</title>
</head>
<body>
    <main>
        <div class="register-container">
            <h2>Restablecer Contraseña</h2>
            <form action="/api/password/reset" method="POST">
                <label for="email">Email:</label>
                <input id="email" name="email" type="email" required>

                <label for="password">Nueva contraseña:</label>
                <input id="password" name="password" type="password" required>

                <input type="hidden" name="token" value="{{token}}">

                <button type="submit">Restablecer contraseña</button>
            </form>
        </div>
    </main>
</body>
</html>